.libertinus-mono-regular {
  font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  background-color: #f9faf4;
  color: #474a2d;
}

body {
  margin: 0;
  padding: 0;
}

header {
  padding: 0 1em;
  text-align: center;
}

main {
  padding: 0 2em;
}

.section-logo {
  text-align: center;
  padding: 0;
}

.section-logo img {
  max-width: 50%;
  height: auto;
}

h2, h3 {
  text-align: center;
  color: #333;
}

h3 {
  color: #555;

}

.container-entradas, .container-platos, .container-postres {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.entrada, .plato, .postre {
  width: 12.5rem;
  gap: 2rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
}

.container-entradas img, .container-platos img, .container-postres img {
  width: 12.5rem;
  display: flex;
  height: 12.5rem;
  object-fit: cover;    
  border-radius: 8px;
}

.entrada h3, .plato h3, .postre h3 {
  margin: 1rem;
  height: 2.5rem;
  align-content: center;
  text-align: center;
}

.entrada p, .plato p, .postre p {
  margin: 1rem;
  align-content: center;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  margin-top: 2rem;
  text-align: center;
  padding: 1em 0;
}